*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 30px;
    display: flex;
}

footer{
    background-color: aliceblue;
    text-align: left;
    font-size: 15px;
    color: black;
    padding: 25px;
}